*{
    margin: 0px;
    padding: 0px;
}


.chat-message{
    background-color:beige;
    border : 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding : 10px;
}

#chatForm{
    display: none;
}

#messageBox{
    display: none;
    width: 300px;
    height: 300px;
    overflow-y: auto;
}

#authForm{
    display: flex;
    flex-direction: column;
}